body{font-family: Impact, 'Arial Narrow Bold', sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
.main_container{
    display: grid;
    
    grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(4,minmax(150px,auto));
}
.main_container .one{
    grid-column: 1/8;
    grid-row: 0/1;
    width: 100%;
    height: 900px;
    background-color: purple;
}
.main_container .one .container_one{
    background-image: url("img/mb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:900px;
    width: 100%;
    position: relative; 

}
.main_container .one .container_one .container_one_b{
    background-color:#060a24;
    background:rgba(13, 13, 14, 0.803);
    height:900px;
    width: 100%;
    z-index: 2;
}
.main_container .one .container_one .container_one_c #head{
    display: block;
    height: 50px;
    width: 90%;
    margin-left: 100px;
    padding-top:25px;
}
.main_container .one .container_one .container_one_c #head #logo{float: left;}
.main_container .one .container_one .container_one_c #head #main_nav_pop{
    float: right;
    padding-right: 2px;
}
.main_container .one .container_one .container_one_c #head #main_nav_pop nav ul{ display: block;}
.main_container .one .container_one .container_one_c #head #main_nav_pop nav ul li{
    list-style-type: none;
    display: inline-block;
}
.main_container .one .container_one .container_one_c #head #main_nav_pop nav ul li a{
    text-decoration: none;
    color: pink;
}
.main_container .one .container_one .container_one_c #head #main_nav_pop nav ul li a:hover{color: seagreen;}
.container_c_ii{margin-left: 100px;}
.container_c_ii_a{
    display: inline-block;
    float: left;
    margin-top: 105px;

}
 .text_banner {
    float: left;
    height: 100px;
    width: 200px;
    margin-left: 60px;
    margin-top: 320px;
}
.text_banner .container_banner_text .pag1{
    font-size: 14px;
    color: #c18f59
}
.text_banner .container_banner_text .span_bold_banner_text{
    font-size: 74px;
    letter-spacing: 3px;
    color: #fff;
    font-family: "Calisto-MT-Bold";
    font-weight: bolder;

}
#one_man{
    color: #777;
    display: block;
    width: 500px;
    margin-bottom: 20px;
} 
.text_banner a{text-decoration:  none;}
a #banner_link {
    text-decoration: none;
    color: #c18f59;
    padding-top: 3.5px;
    padding-left: 10px;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 30px;
    height: 20px;
    width:  70px;
    border: 1px solid rgb(255, 255, 255);
    
}
#smit, #pag1a{padding-left: 130px;}
.pag1{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/**************PART*******************/
/**************TWO*******************/
.two{
    grid-column: 1/8;
    grid-row: 2/6;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    
}
.main_card_div{
    padding: 15px;
    padding-bottom: 75px;
    margin-left: 103px;
    margin-top: 153px;
    height: 450px;
    width: 380px;
    background-color:#ffffff;
    float: left;
    text-align: center;
    color: #222

}
.two .container_two .card_div{
    height: 510px;
    width: 380px;
    background-color:#e4e0e0;
    
}
.two .container_two .background_image_two_wrap{
    margin-top: 93px;
    background-image: url("img/about-me-bckg.jpg");
    background-size: cover;
    background-position: center;
    height:800px;
    width:980px;
    z-index: -1;
    margin-left: 370px;
}
.background_image_two_wrap .overlay_two{
    height: inherit;
    background-color: rgba(13, 13, 14, 0.803);
}
#first_letter{
    font-size: 90px;
    line-height: 75px;
    color: #c18f59;
    font-family: "Calisto-MT-Bold";
    font-weight: bolder;
} 
.carddiv article #first_letter{
    word-spacing: -10px;
}
.carddiv article h1{
    font-size: 48px;
}
.carddiv article p{
    display: block;
    width: 370px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
}
.overlay_two .container_not_working_slide h1{
    font-size: 48px;
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
    color:  #fff;
    margin-bottom: 35px;
    font-weight: bolder;
}
.overlay_two .container_not_working_slide #span{
    font-size: 48px;
    color: #ffffff
}
.overlay_two .container_not_working_slide p{
    color: #c18f59;
    text-align: center;
}
.overlay_two .container_not_working_slide{
    height: 300px;
    width: 500px;
    padding-left: 300px;
    padding-top: 190px;
    line-height: 25px;
    font-size: 15px;
    
}
.overlay_two .container_not_working_slide  #author{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #c18f59;
    margin-top: 30px;
    font-weight: bold;
    
}
.overlay_two .container_not_working_slide  #see_me{
    display: block;
    text-align: center;
    color: #ffffff;
    margin-top: 18px;
   

}
/**************PART*******************/
/**************THREE*******************/
.three{
    grid-column: 1/8;
    grid-row: 6/13;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    
}
.container_three{
    margin-top: 90px;
}
.three .mini_container_divs{
    margin-left: 103px;
}
.three .container1{
    height:331px ;
    width: 242px;
    margin: 9px;
    float: left;
    margin-right: 50px;
}
.card_bottom {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.card_bottom h1{
    color: #000;
}
.card_bottom p{
    font-size: 15px;
    font-style: italic;
    color: #c18f59;
    padding-top: 13px;
}
#header{
    font-size: 50px;
    color:  #222;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 80px;
    font-weight: 400;
	font-family: "Calisto-MT";
}
.three .overlay_3{
    z-index:3 ;
    background-color: rgba(32, 32, 109, 0.503);
    height: 210px;
}

.bottom_buttony a{

    text-decoration: none;
    border: 1px solid #c18f59;
    padding: 7px;
    margin: 43%;
    color: #c18f59;
   
}
.bottom_buttony a:hover{
    color: #cfcdca;

}
.bottom_buttony{
    margin-bottom: 140px;
}

/**************PART*******************/
/**************FOUR*******************/
.four{
    grid-column: 1/8;
    grid-row: 13/18;
    background-color: rgb(172, 130, 130);
    color: rgb(255, 255, 255);
}
.four_container{
    height: 296px;
    background-image: url("img/book-bckg.jpg");
    background-position: center;
    background-size: cover;
    
}
.four_container .overlay_container_four{
    height: inherit;
    background-color: rgba(211, 164, 104, 0.903);
    
}
.counter_container{
    width: 80%; 
    margin-left: auto;
    padding-top: 59px;
    
}

.counter_container .counter_1{
    height: 178px;
    width:20%;
    float: left;
    margin: 1px;
    display: inline-block;
}
.counter_container .counter_1 p{
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 18px;
}
.counter_container .counter_1 img{
   margin-top: 17px;
   padding-right: 10px;

}
.real_counter{
    height: 100px;
    width: 100%;
    
}
.counter_container .real_counter p{
    padding-top: 25%;
    font-size: 30px;
    font-weight: bold;
}


/**************PART*******************/
/**************Five*******************/
.five{
    grid-column: 1/8;
    grid-row: 18/23;
    color: rgb(255, 255, 255);
}
.five .five_container{
    margin-left: 103px;
    padding-top: 100px;
    margin-right: auto;
    
    
}
.five .five_container h1{
    margin-left: 38%;
    font-size: 45px;
    font-weight: bold;
    color: #000;
    padding-bottom: 80px;
}
.five .five_container .box_division{
    height: 400px;
    width: 100%;
    display: inline-block;
}
.five .five_container .box_division .box1{
    height: 349px;
    width: 549px;

    margin: 10px;
    display: inline-block;
}
.five .five_container .box_division .box1 .box1_container{
    display: inline-block;
    border: 3px solid #f5f5f5;
}
.five .five_container .box_division .box1 .box1_container .image_five{
    width: 265.5px;
    height: 350px;
    display: inline-block;
    float: left;
}
.five .five_container .box_division .box1 .paragraph_five{
    width: 265.5px;
    height: 350px;
    float: left;
    color: rgb(16, 16, 17);
    padding-left: 1px;
}
.five .five_container .box_division .box1 .paragraph_five h4{
    padding-top: 30px;
    padding-left: 5px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;

}
.five .five_container .box_division .box1 .paragraph_five span{
    padding-left: 5px;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #c18f59;
    font-family: "Calisto-MT-Bold";
}
.five .five_container .box_division .box1 .paragraph_five p{
    padding-left: 5px;
    color: #777;
    line-height: 21px;
}
/**************PART*******************/
/**************six*******************/
.six{
    grid-column: 1/8;
    grid-row: 23/28;
    color: rgb(255, 255, 255);
    background-color: #000;
    margin-top: 30px;
}
.six .six_container{
    background-image: url("img/quotes-bckg.jpg");
    background-position: center;
    background-size: cover;
    height: 734px;
    
}
.overlay_six{
    background-color: rgba(16, 16, 17,0.9);
    height: inherit;
}
.six_text_container{
    height: 580px;
    margin: auto;
    width: 50%;
    
    
}
.six_containera{
    padding-top: 150px;
}
.six_text_container h1{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 50px;;
    text-align: center;
}
.six_text_container p{
    width: 479.45px;
    text-align: center;
    padding-left: 80px;

}
.david{
    display: block;
    padding-top: 30px;
    text-align: center;

}
#dav{
    font-size: 25px;
    color: #c18f59;
}
.six_footer{
    height: 155px;
    background-color: #c18f59;
    width: 100%;
    
}
.part1{
    
    height: 140px;
    width: 330px;
    margin-right: 100px;
    margin-left: 10px;
    float: left;

}
.part1 p{
    text-align: center;
    padding-top: 60px;
    font-size: 24px;
}
.image_link_group {
    margin-left: 30px;
}
 .images_six{
    height: 40px;
    width: 40px;
    border-radius: 360%;
    border: 1px solid #fff;
    float: left;
    margin-left: 20px;
    margin-top: 60px;
    text-align: center;
    color: #fff;
    
}
.image_link_group .images_six:hover{
    background-color: cadetblue;
}
.images_six .mop{
    padding-top: 10px;
}
/**************PART*******************/
/**************seven*******************/
.seven{
    grid-column: 1/8;
    grid-row: 28/33;
    color: rgb(255, 255, 255);
    background-color: #343434;

}
.seven_container{
    height: 392px;
    margin-left: 103px;
    padding-top: 120px
}
.seven_count1{
    width:45%;
    height: 300px;

   float: left;
   margin-left: 10px;
   
}
.img_seven{ 

    height: 300px;
    width: 50%;
    float: left;
}
.infog{
    float: left;
    width:45%;
    margin-bottom: 200px;
}
.infog h1{
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff
}
.infog p{
    margin-bottom: 15px;
    color: #aaa
}
textarea{
    width: 87%;
}